:root {
  color-scheme: dark;
  --bg: #1d2021;
  --bg-s: #32302f;
  --bg-1: #3c3836;
  --bg-2: #504945;
  --bg-3: #665c54;
  --bg-4: #7c6f64;
  --fg: #fbf1c7;
  --fg-1: #ebdbb2;
  --fg-2: #d5c4a1;
  --gray: #a89984;
  --red: #cc241d;
  --red-alt: #fb4934;
  --green: #98971a;
  --green-alt: #b8bb26;
  --yellow: #d79921;
  --yellow-alt: #fabd2f;
  --blue: #458588;
  --blue-alt: #83a598;
  --purple: #b16286;
  --purple-alt: #d3869b;
  --orange: #d65d0e;
  --orange-alt: #fe8019;
  --aqua: #689d6a;
  --aqua-alt: #8ec07c;
  --brown: #B17744;
}

body {
  font-family: sans-serif;
  color: var(--fg);
  background-color: var(--bg); 
  margin: 0 auto;
  max-width: 80ch;
  -webkit-font-smoothing: antialiased;
}
section {
  margin: 1rem;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-s);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1.3rem;
  max-width: calc(80ch / 1.3);
  margin: 0 auto;
}
h1 {
  padding: .7rem;
  margin: 0;
  font-weight: 400;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
#header a {
  height: 2rem;
  width: 2rem;
  margin: 5px;
  background-color: var(--fg);
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#workout-shortcut {
  color: var(--workoutColor);
  position: absolute;
  top: .7rem;
  left: .7rem;
}
#workout-shortcut svg {
  width: 75%;
  height: 75%;
}
#home-shortcut {
  position: absolute;
  top: .7rem;
  left: calc(.7rem + .7rem + 2rem);
}
#home-shortcut svg {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

#offline {
  background-color: var(--red);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#graph {
  position: relative;
  margin-top: 4.7rem;
  height: 14.5rem;
  direction: rtl;
  background-color: var(--bg-1);
  border-radius: .5rem;
}
#graph .graph-chart {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 1rem;
  overflow-x: scroll;
  box-sizing: border-box;
}
#graph .graph-group {
  display: flex;
  align-items: flex-end;
  gap: 3px;
}
#graph .graph-bar {
  position: relative;
  width: 6px;
  height: calc(100% * var(--size));
  background-color: var(--bg-4);
  border-radius: 3px;
}
#graph .graph-bar-today {
  background-color: var(--green-alt);
}
#graph h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.5rem 1rem;
  position: absolute;
  left: 0;
  top: 0;
}

#stats {
  height: 10rem;
  background-color: var(--bg-3);
  border-radius: .5rem;
}
#stats h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.5rem 1rem;
}

#todays-sets {
  height: 21rem;
  background-color: var(--bg-1);
  border-radius: .5rem;
}
#todays-sets h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.5rem 1rem;
}
#todays-sets form {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 2px;
  font-size: 1.5rem;
}
#todays-sets form > div {
  display: flex;
}
#todays-sets .new-input {
  margin-right: 1rem;
}
#todays-sets input {
  color: var(--fg);
  text-align: right;
  width: 4ch;
  font-size: 1.5rem;
  background-color: transparent;
  border: 2px solid var(--blue-alt);
  border-radius: .25rem;
}
#todays-sets input:invalid {
  background-color: var(--red);
}
#todays-sets input.time-input {
  width: 2ch;
}
#todays-sets .fab {
  margin-right: 1rem;
  margin-top: -.5rem;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  border: none;
  color: var(--bg);
  background-color: var(--fg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

#todays-sets .set-card {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-2);
  border-radius: .25rem;
}
#todays-sets .set-card h3 {
  display: inline-block;
  margin: 0;
  font-weight: normal;
}
#todays-sets .set-card small {
  font-style: italic;
  font-size: .8rem;
  display: inline-block;
  vertical-align: bottom;
}
#todays-sets .set-card span {
  width: 5ch;
  text-align: right;
}
#todays-sets .set-card .increase {
  color: var(--green-alt);
  font-weight: bold;
}
#todays-sets .set-card .decrease {
  color: var(--red-alt);
  font-weight: bold;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .8rem;
  margin: .9rem auto;
  width: 80%;
  background-color: var(--bg-s);
  padding: .3rem;
}
.timer.running {
  background-color: var(--blue);
}
.timer.paused{
  background-color: #224244;
}
.timer-btn {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 250ms;
}
.timer-btn:active {
  scale: 1.1;
}
.timer-btn img {
  height: 2rem;
  width: auto;
}
.timer span {;
  font-size: 2rem;
  font-family: monospace;
}
.timer span.millis {
  font-size: 1rem;
}

.save-success {
  background-color: var(--green-alt) !important;
}
.save-error {
  background-color: var(--red) !important;
  rotate: 45deg;
}