:root {
  color-scheme: dark;
  --bg: #1d2021;
  --bg-s: #32302f;
  --bg-1: #3c3836;
  --bg-2: #504945;
  --bg-3: #665c54;
  --bg-4: #7c6f64;
  --fg: #fbf1c7;
  --fg-1: #ebdbb2;
  --fg-2: #d5c4a1;
  --gray: #a89984;
  --red: #cc241d;
  --red-alt: #fb4934;
  --green: #98971a;
  --green-alt: #b8bb26;
  --yellow: #d79921;
  --yellow-alt: #fabd2f;
  --blue: #458588;
  --blue-alt: #83a598;
  --purple: #b16286;
  --purple-alt: #d3869b;
  --orange: #d65d0e;
  --orange-alt: #fe8019;
  --aqua: #689d6a;
  --aqua-alt: #8ec07c;
  --brown: #B17744;
}

body {
  font-family: sans-serif;
  color: var(--fg);
  background-color: var(--bg); 
  margin: 0 auto;
  max-width: 80ch;
  -webkit-font-smoothing: antialiased;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-s);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1.3rem;
}
h1 {
  margin: .7rem;
  font-weight: 400;
  text-align: center;
}

#fab {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3.8rem;
  height: 3.8rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--fg);
  color: var(--bg-1);
  font-size: 3rem;
  font-weight: 100;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), 0 0 30px rgba(255, 255, 255, 0.15);
}
#fab img {
  scale: 0.7;
  padding-top: 5px;
}
.save-success {
  background-color: var(--green-alt) !important;
}
.save-error {
  background-color: var(--red) !important;
}

#exercises {
  margin-top: calc(2rem + .7rem + 1rem);
}

/* Checkbox specific styles */
.checkbox {  
  display: block; 
  padding: 1rem;
  text-decoration: none;
  border-bottom: 1px solid var(--gray);
  color: var(--fg);
  left: 0; 
  right: 0;
  position: relative;
}
.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.checkbox label {
  font-family: sans-serif;
  font-size: 1rem;
  position: relative;
  display: block;
  padding-left: 40px;
  cursor: pointer;
}
.checkbox label:before {
  /* Checkbox outline */
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  margin: 4px;
  width: 1rem;
  height: 1rem;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid var(--yellow);
}
.checkbox label:after {
  /* Check icon */
  content: '';
  border-bottom: 2px solid var(--bg);
  border-left: 2px solid var(--bg);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  width: 8px;
  height: 4px;
  top: 7px;
  left: 9px;
}
.checkbox input[type="checkbox"]:checked ~ label::after {
  /* Check icon animtation */
  transform: rotate(-45deg) scale(1);
}
.checkbox input[type="checkbox"]:checked ~ label::before {
  background-color: var(--yellow);
}