<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="Description" content="Gym Log">
        <meta name="viewport" content="width=device-width">
        <title>{{name}} | Gym Log</title>
        <link rel="stylesheet" type="text/css" href="/static/css/workout.css">
        <script type="module" src="./static/js/index.js"></script>
        <!-- icons and manifest for PWA -->
        <link rel="manifest" href="/static/manifest.json">
        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
        <meta name="theme-color" content="#3c3836"/>
    </head>
    <body>

        <section id="header">
            <h1>{{name}}</h1>
        </section>

        <section id="exercises">
             {%- for e in exercises -%}
            <a href="/exercise/{{e.exerciseID}}" class="exercise-card">
                <h2>{{e.name}}</h2>
                <div class="exercise-details">
                    <span>{{e.last_update}}</span>
                    <span>{{e.last_set}}</span>
                </div>
            </a>
            {%- endfor -%}
        </section>

        <button id="fab">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
            </svg>
        </button>

        <dialog id="new-workout-dialog">
            <form method="dialog">
                <div>
                    <input type="text" id="name" name="name" autocomplete="off" value="">
                    <button type="submit" value="submit">+</button>
                </div>
                <ul id="suggestions"></ul>
            </form>
        </dialog>

    </body>
</html>