<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="Description" content="Gym Log">
        <meta name="viewport" content="width=device-width">
        <title>{{name}} | Gym Log</title>
        <link rel="stylesheet" type="text/css" href="/static/css/workout.css">
        <script type="module" src="./static/js/index.js"></script>
        <!-- icons and manifest for PWA -->
        <link rel="manifest" href="/static/manifest.json">
        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
        <meta name="theme-color" content="#32302f"/>
    </head>
    <body>

        <section id="header" style="background-color:{{colour}};">
            <h1>{{name}}</h1>
            <a href="/">
                <img src="/static/icons/logo.svg" alt="Home">
            </a>
        </section>

        <section id="exercises">
             {%- for e in exercises -%}
            <a href="/exercise/{{e.exerciseID}}" class="exercise-card">
                <h2>{{e.name}}</h2>
                <div class="exercise-details">
                    <span>{{e.last_update}}</span>
                    <span>{{e.last_set}}</span>
                </div>
            </a>
            {%- endfor -%}
        </section>

        <a href="/edit-workout/{{slug}}" id="fab">
            <img src="/static/img/edit.svg" alt="Edit workout">
        </a>
    </body>
</html>