<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="Description" content="Gym Log"/>
        <meta name="viewport" content="width=device-width"/>
        <title>History | Gym Log</title>
        <link rel="stylesheet" type="text/css" href="/static/css/history.css"/>
        <script type="module" src="/static/js/history.js"></script>
        <!-- icons and manifest for PWA -->
        <link rel="manifest" href="/static/manifest.json"/>
        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml"/>
        <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon.png"/>
        <meta name="theme-color" content="#32302f"/>
    </head>
    <body>

        <section id="header">
            <h1>Workout History</h1>
            <a href="/" id="home">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--bg-s)" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </a>
        </section>

        <section id="history">
            {%- for w in history -%}
            <div class="history-entry">
                <div class="history-date">
                    <div style="--workout-colour:{{ w.colour }};" class="history-date-bg">
                        <p class="history-date-month">{{ w.month }}</p>
                        <p class="history-date-month">{{ w.day }}</p>
                    </div>
                </div>
                <div class="history-card">
                    <h2>{{ w.category }}</h2>
                    <div class="history-exercises">
                    {%- for exercise in w.exercises -%}
                        <h3 style="background-color:{{ w.colour }};">{{ exercise }}</h3>
                    {%- endfor -%}
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </section>

    </body>
</html>