<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="Description" content="Gym Log"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Gym Log</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
        <script type="module" src="./static/js/homepage.js"></script>
        <!-- icons and manifest for PWA -->
        <link rel="manifest" href="/static/manifest.json"/>
        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml"/>
        <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon.png"/>
        <meta name="theme-color" content="#32302f"/>
    </head>
    <body>

        <section id="header">
            <h1>Gym Log</h1>
            <button id="offline">
                <img src="/static/img/online.svg" alt="Offline status" />
            </button>
        </section>

        <section id="workouts">
            {%- for w in workouts -%}
            <a href="/workout/{{ w.workoutID }}" class="workout-card" style="background-color:{{ w.colour }};">
                <div>
                    <h2>{{ w.name }}</h2>
                    <p>{{ w.exercise_count }} exercises</p>
                </div>
                <div>
                    <h3>{{ w.last_update }}</h3>
                    <p>> {{ w.last_exercise }}</p>
                </div>
            </a>
            {%- endfor -%}
        </section>

        <button id="fab">
            +
        </button>

        <dialog id="new-workout-dialog">
        <form method="dialog">
            <h2>New workout</h2>
            <div class="new-workout-input">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" autocomplete="off" value=""/>
            </div>
            <div class="new-workout-input">
                <label for="colour">Colour</label>
                <div class="colours">
                    <input class="radio" type="radio" name="colour" value="#8e1914" style="--colour:#8e1914;"/>
                    <input class="radio" type="radio" name="colour" value="#6a6912" style="--colour:#6a6912;"/>
                    <input class="radio" type="radio" name="colour" value="#966b17" style="--colour:#966b17;"/>
                    <input class="radio" type="radio" name="colour" value="#305d5f" style="--colour:#305d5f;"/>
                    <input class="radio" type="radio" name="colour" value="#7b445d" style="--colour:#7b445d;"/>
                    <input class="radio" type="radio" name="colour" value="#954109" style="--colour:#954109;"/>
                    <input class="radio" type="radio" name="colour" value="#486d4a" style="--colour:#486d4a;"/>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" value="submit">Add</button>
                <button type="submit" value="cancel">Cancel</button>
            </div>
        </form>
        </dialog>

    </body>
</html>