<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="Description" content="Gym Log"/>
        <meta name="viewport" content="width=device-width"/>
        <title>{{ name }} | Gym Log</title>
        <link rel="stylesheet" type="text/css" href="/static/css/workout.css"/>
        <script type="module" src="/static/js/workout.js"></script>
        <!-- icons and manifest for PWA -->
        <link rel="manifest" href="/static/manifest.json"/>
        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
        <meta name="theme-color" content="#32302f"/>
        <style type="text/css">
            :root {--workout-colour: {{ colour }};}
        </style>
    </head>
    <body>

        <section id="header">
            <h1>{{ name }}</h1>
            <a href="/" id="home">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--workout-colour)" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </a>
        <a href="/edit-workout/{{ workoutID }}" id="edit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="var(--workout-colour)" viewBox="0 0 24 24">
                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zm-2.218 5.93l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"/>
            </svg>
        </a>
        </section>

        <section id="exercises">
             {%- for e in exercises -%}
            <a href="/exercise/{{ e.exerciseID }}?workoutID={{ workoutID }}" data-exerciseid="{{ e.exerciseID }}" class="exercise-card">
                <h2>{{ e.name }}</h2>
                <div class="exercise-details">
                    <span class="exercise-last-update {{ "today" if e.is_today }}">{{ e.last_update }}</span>
                    <span class="exercise-last-set">{{ e.last_set }}</span>
                </div>
                <img class="offline hidden" src="/static/img/offline.svg">
                <img class="exercise-icon" src="/static/img/{{ e.name.replace(' ', '-')|lower }}.svg">
            </a>
            {%- endfor -%}
        </section>
    </body>
</html>